<form action="/todos" method="POST" class="d-flex mb-3">
  <input type="text" class="form-control" name="content">
  <button type="submit" class="btn btn-primary mx-3" style="width: 10%">Add</button>
</form>