<h2>Todo List</h2>
<p>Add an item</p>
<%- include ('./partials/form_todo') %> 
<% todoList.forEach((todo) => { %>
<div class="border-bottom p-2 d-flex align-item-center">
  <input id="check" type="checkbox" class="form-check-input mx-3" >
  <label for="check" style="flex-basis: 90%; font-size: 20px">
    <%= todo.content %>
  </label>
  <a href="todos/edit"class="btn btn-success mx1-">
    <i class="fas fa-edit"></i>
  </a>
  <a href="todos/" class="btn btn-danger mx-1" >
    <i class="fas fa-trash-alt"></i>
  </a>
</div>
<% }) %>
